@font-face {
  font-family: "NexonLv1Gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff")
    format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "NexonLv1Gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "NexonLv1Gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff")
    format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "GMarketSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
    format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "GMarketSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "GMarketSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: 700;
  font-display: swap;
}

/* common */
.container {
  width: 1160px;
  margin: 0 auto;
}
.section {
  padding: 120px 0;
}
.section > h2 {
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
}
.section > p {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 70px;
  text-align: center;
  color: #777;
}

/* imageType */
#imageType {
}
.image_inner {
  display: flex;
  justify-content: space-between;
}
.image {
  width: 49%;
  height: 370px;
  padding: 200px 30px 30px 30px;
  box-sizing: border-box;
  color: #fff;
}
.image.img1 {
  background: url(img/cake_red.png) no-repeat center / cover;
}
.image.img2 {
  background: url(img/cake_choco.png) no-repeat center / cover;
}
.image_title {
  font-size: 32px;
  margin-bottom: 10px;
}
.image_desc {
  margin-bottom: 10px;
  padding-right: 100px;
  line-height: 1.4;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2; /* 제한할 텍스트의 줄 수 */
}
.image_btn {
  line-height: 1.4;
  font-weight: 300;
  background-color: #531834;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
}
.image_btn.choco {
  background-color: #1c0206;
}
